name: Node.js CI

on:
    push:
        branches: [main]
    pull_request:
        branches: [main]

jobs:
    Node-CI-pipeline:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v5
            - uses: actions/setup-node@v5
              with:
                node-version: '24'
            - name: Install dependencies
              run: npm ci
            - name: Run backend tests
              working-directory: ./backend
              run: npm run test
            - name: Run frontend tests
              working-directory: ./frontend
              run: npm run test
            - name: Linting for backend
              working-directory: ./backend
              run: npm run lint
            - name: Linting for frontend
              working-directory: ./frontend
              run: npm run lint