name: Deploy to Render when image is pushed to GHCR

on:
  registry_package:
    types: [ published ]

jobs:
    render-deployment:
      runs-on: ubuntu-latest
      if: github.event.registry_package.package_type == 'container'
      steps:
        - name: Trigger backend deployment
          env:
            deploy_url_be: ${{ secrets.RENDER_DEPLOY_HOOK_URL_BACKEND }}
          run: curl '$deploy_url_be'

        - name: Trigger frontend deployment
          env:
            deploy_url_fe: ${{ secrets.RENDER_DEPLOY_HOOK_URL_FRONTEND }}
          run: curl '$deploy_url_fe'
