name: Deploy to Render when image is pushed to GHCR

on:
  workflow_run:
    workflows: ["Build and push Docker images to Container Registry"]
    types:
      - completed

jobs:
    render-deployment:
      permissions:
        contents: none
      runs-on: ubuntu-latest
      steps:
        - name: Trigger backend deployment
          env:
            DEPLOY_URL_BE: ${{ secrets.RENDER_DEPLOY_HOOK_URL_BACKEND }}
          run: |
            if [ -z "$DEPLOY_URL_BE" ]; then
              echo "RENDER_DEPLOY_HOOK_URL_BACKEND secret is not set."
              exit 1
            fi
            curl "$DEPLOY_URL_BE"

        - name: Trigger frontend deployment
          env:
            DEPLOY_URL_FE: ${{ secrets.RENDER_DEPLOY_HOOK_URL_FRONTEND }}
          run: |
            if [ -z "$DEPLOY_URL_FE" ]; then
              echo "RENDER_DEPLOY_HOOK_URL_FRONTEND secret is not set."
              exit 1
            fi
            curl "$DEPLOY_URL_FE"