name: Build and push Docker images to Container Registry

on:
  release:
    types: [ published ]

env:
  REGISTRY: ghcr.io
  IMAGE_BASE: ${{ github.repository }}

jobs:
  build-and-push:
    if: github.event_name == 'release'
    runs-on: ubuntu-latest
    strategy:
      matrix:
        service: [ backend, frontend ]
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write

    steps:
        - name: Checkout repository
          uses: actions/checkout@v5

        - name: Log in to the Container registry
          uses: docker/login-action@v3
          with:
            registry: ${{ env.REGISTRY }}
            username: ${{ github.repository_owner }}
            password: ${{ secrets.GITHUB_TOKEN }}

        - name: Extract metadata (tags, labels) for Docker
          id: meta
          uses: docker/metadata-action@v5
          with:
            images: ${{ env.REGISTRY }}/${{ env.IMAGE_BASE }}-${{ matrix.service }}

        - name: Build and push ${{ matrix.service }} Docker image
          uses: docker/build-push-action@v6
          with:
            context: .
            file: ${{ github.workspace }}/${{ matrix.service }}/Dockerfile
            push: true
            tags: ${{ steps.meta.outputs.tags }}
            labels: ${{ steps.meta.outputs.labels }}
            build-args: VITE_API_URL=${{ secrets.VITE_API_URL }}
