name: Docker Build Images & Push to Container Registry
on:
  push:
    branches: [main]

env:
  REGISTRY: ghcr.io
  IMAGE_BASE: ${{ github.repository_owner }}/${{ github.repository }}

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        service: [backend, frontend]
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write

    steps:
        - name: Checkout repository
          uses: actions/checkout@v5

        - name: Log in to the Container registry
          uses: docker/login-action@v3
          with:
            registry: ${{ env.REGISTRY }}
            username: ${{ github.repository_owner }}
            password: ${{ secrets.GITHUB_TOKEN }}

        - name: Extract metadata (tags, labels) for Docker
          id: meta
          uses: docker/metadata-action@v5
          with:
            images: ${{ env.REGISTRY }}/${{ env.IMAGE_BASE }}-${{ matrix.service }}

        - name: Build and push ${{ matrix.service }} Docker image
          uses: docker/build-push-action@v6
          with:
            context: ./${{ matrix.service }}
            file: ./${{ matrix.service }}/Dockerfile
            push: true
            tags: ${{ steps.meta.outputs.tags }}
            labels: ${{ steps.meta.outputs.labels }}
